# Chimera iXY v2.5 - Klipper Configuration Revision 1.5
# General Setup: 
  # CoreXY Kinematics
  # MKS Robin Nano V3.1 + MKS TS35 v2.0
  # RPi Zero 2W + Mellow Fly RP2040
  # TMC2209 Drivers (UART X/Y, STANDALONE E/Z)
  # Titan Extruder + V6 Volcano
# Last updated: 8-4-26

[include mainsail.cfg]
[include accelerometer.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 450
max_accel: 6400
max_z_velocity: 8
max_z_accel: 50

[virtual_sdcard]
path: /home/chimera/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PE0
dir_pin: PB9           
enable_pin: !PE1
rotation_distance: 32  
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PA15     
position_endstop: 0
position_max: 230
homing_speed: 65

[tmc2209 stepper_x]
uart_pin: PD7          
run_current: 1.200
stealthchop_threshold: 5

[stepper_y]
step_pin: PE3
dir_pin: PE2           
enable_pin: !PE4
rotation_distance: 32  
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^!PD2    
position_endstop: 230 
position_max: 230
position_min: -80    
homing_speed: 65

[tmc2209 stepper_y]
uart_pin: PD5       
run_current: 1.200
stealthchop_threshold: 5

[input_shaper]
shaper_freq_x: 114.6
shaper_type_x: mzv
shaper_freq_y: 45.0
shaper_type_y: ei


#####################################################################
#      Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
rotation_distance: 1
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -5.0
position_max: 230
homing_speed: 7
second_homing_speed: 2

#####################################################################
#      Extruder
#####################################################################

[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
rotation_distance: 1
microsteps: 16
nozzle_diameter: 0.800
filament_diameter: 1.750
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
min_temp: 0
max_temp: 450
max_extrude_only_distance: 200.0
max_extrude_cross_section: 4.0
pressure_advance: 0.035


#####################################################################
#      Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA0
sensor_type: Generic 3950 
sensor_pin: PC0
min_temp: 0
max_temp: 150

#####################################################################
#      Probe & Mesh
#####################################################################

[probe]
pin: ^!PC8
x_offset: 4
y_offset: 40
speed: 3.0              
lift_speed: 8.0         
samples: 3             
samples_result: median   
sample_retract_dist: 2.0 
samples_tolerance: 0.02 
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 115, 75 
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 20, 20     
mesh_max: 210, 190   
probe_count: 6, 6
algorithm: bicubic

#####################################################################
#      Fans
#####################################################################

[fan]
pin: PC14

[heater_fan hotend_fan]
pin: PB1
heater: extruder
heater_temp: 50.0

[fan_generic auxiliary_fan]
pin: PB0 
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.10          
cycle_time: 0.00004      
hardware_pwm: True   

#####################################################################
#      Macros
#####################################################################

[gcode_macro START_PRINT]
description: Custom start macro with nozzle cleaning sequence
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {% set LAYER_HEIGHT = params.LAYER_HEIGHT|default(0.2)|float %}
    G28
    G90
    G1 Z10 F3000          
    G1 X20 Y-25 F4800    
    G1 Z3 F1000          
    M140 S{BED_TEMP}      
    M104 S{EXTRUDER_TEMP} 
    M109 S{EXTRUDER_TEMP} 
    G1 Z5 F1000         
    G1 Y-60 F12000        
    G1 X50 F1200          
    G1 X160 Y-8 F4800   
    G1 Z4 F1000          
    G1 X180 F12000
    G1 X160 F12000
    G1 X180 F12000
    G1 X160 F12000
    G1 X180 F12000
    G1 X160 F12000
    G1 X180 F12000
    G1 X160 F12000
    G1 X180 F12000
    G1 X160 F12000
    G1 Z10 F3000          
    G1 X20 Y-25 F4800     
    G92 E0             
    G1 E40 F300           
    G92 E0                
    M106 S255            
    G4 P3000             
    G1 Y-60 F12000        
    G1 X50 F1200          
    G1 Y-25 F1200          
    G1 X20 F1200          
    M106 S0               
    M190 S{BED_TEMP}    
    BED_MESH_PROFILE LOAD=mesh1
    G1 Y-60 F12000
    G1 X50 F3600 
    G1 Y5 F3600
    G92 E0.0
    G1 Z2.5 F3000
    G1 X5.0 Y5.0 Z{LAYER_HEIGHT} F5000.0
    G1 X5.0 Y55.0 Z{LAYER_HEIGHT} F1500.0 E10
    G1 X5.3 Y55.0 Z{LAYER_HEIGHT} F5000.0
    G1 X5.3 Y5.0 Z{LAYER_HEIGHT} F1500.0 E20
    G92 E0
    G1 E-1 F300
    G1 Z2.0 F3000

[gcode_macro END_PRINT]
gcode:
    G91                          
    G1 E-3 F300                  
    G1 Z10 F3000                  
    G90                           
    PARK_PURGE                   
    TURN_OFF_HEATERS
    M106 S0 
    SET_FAN_SPEED FAN=auxiliary_fan SPEED=0

#####################################################################
#      Filament Handling Macros
#####################################################################

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    
    G91                 
    G92 E0
    G1 E30 F{speed}    
    G1 E30 F{speed}     
    G92 E0
    
    G90                   
    G1 X10 Y-25 F4800     
    G1 Y-60 F12000      
    
    G1 X50 F1200       
    G1 Y-25 F1200        
    G1 X10 F1200     

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    G91                  
    G92 E0
    G1 E25 F{speed}       
    G1 E-100 F{speed}    
    G92 E0
    G90                  
    G1 X10 Y-25 F4800     
    G1 Y-60 F12000    
    G1 X50 F1200        
    G1 Y-25 F1200         
    G1 X10 F1200        

#####################################################################
#       Print State Management (Required for Pause/Resume)
#####################################################################

[pause_resume]

[display_status]

[gcode_macro PAUSE]
description: Pause the current print and store position
gcode:
    {% set velocity = printer.configfile.settings.printer.max_velocity %}
    G91 
    G1 Z10 F600 
    G90 
    M83 
    SAVE_GCODE_STATE NAME=PAUSE_STATE
    M117 Print Paused

[gcode_macro RESUME]
description: Resume the paused print
gcode:
    M117 Resuming Print
    RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
    {% set hotend_temp = printer.lookup_object('extruder').target_temp %}
    {% set bed_temp = printer.lookup_object('heater_bed').target_temp %}
    M109 S{hotend_temp}
    M190 S{bed_temp}
    M82
    G90 
    M117 Printing...

[gcode_macro CANCEL_PRINT]
description: Cancel the current print
rename_existing: BASE_CANCEL_PRINT
gcode:
    M117 Print Cancelled
    G91                                           
    G1 Z10 F3000                  
    G90                        
    PARK_PURGE                  
    TURN_OFF_HEATERS
    M106 S0 
    SET_FAN_SPEED FAN=auxiliary_fan SPEED=0
    CLEAR_PAUSE
    BASE_CANCEL_PRINT
    M117 Ready

[gcode_macro PARK_PURGE]
description: Move the head to the purge bucket
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    G90
    {% if printer.toolhead.position.z < 10 %}
        G1 Z10 F900       ; Lift Z slightly higher for safety
    {% endif %}
    G1 X10 Y-25 F6000     ; Updated location X10, Y-25                   

[adxl345]
axes_map: y, -x, z

[force_move]
enable_force_move: True

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.535
#*# pid_ki = 1.655
#*# pid_kd = 140.845
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.044
#*# pid_ki = 1.195
#*# pid_kd = 1086.058
#*#
#*# [probe]
#*# z_offset = 2.240
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.452031, 0.019375, -0.056719, 0.233437, 0.597969, 0.647969
#*# 	0.295156, 0.092656, -0.108125, -0.250313, -0.284531, -0.260938
#*# 	0.479531, 0.242812, 0.022031, -0.158125, -0.302344, -0.416719
#*# 	0.609531, 0.369687, 0.140625, -0.079375, -0.257344, -0.382500
#*# 	0.658750, 0.397344, 0.155625, -0.080313, -0.280156, -0.426719
#*# 	0.723594, 0.433750, 0.176875, -0.073750, -0.318594, -0.499219
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 210.0
#*# min_y = 20.0
#*# max_y = 190.0
#*#
#*# [bed_mesh mesh1]
#*# version = 1
#*# points =
#*# 	-0.233438, -0.190000, -0.057813, 0.080000, 0.210000, 0.503125
#*# 	-0.381250, -0.266875, -0.126875, 0.020937, 0.160000, 0.404062
#*# 	-0.388750, -0.304063, -0.217188, -0.093750, 0.047187, 0.242812
#*# 	-0.424063, -0.359688, -0.279063, -0.178438, -0.066875, 0.080312
#*# 	-0.505000, -0.475313, -0.442813, -0.395625, -0.301875, -0.192188
#*# 	-0.575938, -0.581563, -0.564063, -0.535000, -0.483438, -0.448438
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 210.0
#*# min_y = 20.0
#*# max_y = 190.0
